
  @use "./styles/partials.scss";

  * {
    font-family: 'Caveat', 'Courier New', Courier, monospace;
    box-sizing: border-box;
  }

  body {
    --primary-color: #FC0;
    margin: 0;
    padding: 0;
  }

  p {
    font-size: 1.5rem;
    // border: 1px solid var(--primary-color);
  }
  
  main {
    margin: 0 auto;
    padding: 10px;
    max-width: 800px;
  }