label {
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
}

input, select {
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

option {
  font-size: 1.5rem;
}